<!DOCTYPE html>
<html lang="en">
<head>
{{ template "header" .}}
</head>
<body>
<div class="header pr">
  <div class="had_top container">
    <div class="logo pr col-lg-4 col-md-4 col-sm-3 col-xs-6  animated fadeInLeft "> <a href="http://www.sxwlgyl.com/"><img class="imgMax pa" src="/template/pc/img/f7de82c8f9ecf101485ca139bbba14d8.png" alt="顺行物流供应链"></a> </div>
    <div class="menu  rt tr  visible-xs   col-xs-2  animated fadeInRight"><img src="/template/pc/skin/img/menu.png" alt=""></div>
    <div class="had_rt rt col-lg-8 col-md-8 col-sm-9 col-xs-4 animated fadeInRight">
      <!--<div class="lang">-->
      <!--<span class="rt"><a href="javascript:;">中文</a> |-->
      <!--<a href="javascript:;">EN</a></span>-->
      <!--</div>-->
      <div class="ser hidden-xs">
        <p class="hotLine"><img src="/template/pc/skin/img/tell.png" alt=""><b>全国服务热线 : </b><em>13602548980
18926447891</em></p>
                <form  method="get" class="serForm" action="/index.php?m=home&c=Search&a=lists" name="search">
          <input type="hidden" name="m" value="home" /><input type="hidden" name="c" value="Search" /><input type="hidden" name="a" value="lists" /><input type="hidden" name="lang" value="cn" />          <input type="submit" value="" class="input-ser">
          <input type="text" name="keywords" placeholder="请输入关键字" class="input-txt">
          <input type="submit" class="input-sub" value="搜索">
        </form>
         </div>
    </div>
  </div>
  <div  class="nav pr hidden-xs animated zoomIn">
    <div class="container">
      <ul class="nav_list ">
        <li class="current"><a href="http://www.sxwlgyl.com/">首页</a></li>
                <li><a href="/fuwuxiangmu/">服务项目</a>           <ul class="navChild">
                        <li><a href="/guoneiluyun/"> 国内陆运</a></li>
                        <li><a href="/wuliubanjia/">物流搬家</a></li>
                        <li><a href="/dajianyunshu/">大件运输</a></li>
                        <li><a href="/gongchengxiangmuwuliu158/">工程项目物流</a></li>
                        <li><a href="/gongyinglianguanli/">供应链管理</a></li>
                        <li><a href="/huoyunbaoxian/">货运保险</a></li>
                        <li><a href="/gongchangqiyebanqian/">工厂企业搬迁</a></li>
                        <li><a href="/hangkongyunshu/"> 航空运输</a></li>
                        <li><a href="/huotidongwuyunshu/">活体动物运输</a></li>
                        <li><a href="/shengxianlinglianwuliu/">生鲜冷链物流</a></li>
                        <li><a href="/gongchengxiangmuwuliu/">国际物流</a></li>
                      </ul>
           </li>
                <li><a href="/wuliuxianlu/">物流线路</a>  </li>
                <li><a href="/gongsiyunli/">公司运力</a>  </li>
                <li><a href="/xinwenzhongxin/">新闻中心</a>           <ul class="navChild">
                        <li><a href="/gongsixinwen/">公司新闻</a></li>
                        <li><a href="/xingyexinwen/">行业新闻</a></li>
                      </ul>
           </li>
                <li><a href="/shehuizheren/">社会责任</a>  </li>
                <li><a href="/guanyuwomen/">关于我们</a>           <ul class="navChild">
                        <li><a href="/gongsijianjie/">公司简介</a></li>
                        <li><a href="/gongsizhanshi/">公司展示</a></li>
                        <li><a href="/gongsiyoushi/">公司优势</a></li>
                        <li><a href="/qiyewenhua/">企业文化</a></li>
                        <li><a href="/gongsizhanghu/">公司账户</a></li>
                      </ul>
           </li>
                <li><a href="/lianxiwomen/">联系我们</a>           <ul class="navChild">
                        <li><a href="/lianxifangshi/">联系方式</a></li>
                      </ul>
           </li>
              </ul>
    </div>
  </div>
</div>

<div class="banner">
  <div class="banSlider slider">
    <div><a href="/xinwenzhongxin/"><img class="imgMax" src="/template/pc/img/fafc887a42b112bf4baacc70ce253bbe.jpg" alt="新闻中心"></a></div>
  </div>
</div>

<!--手机侧边导航-->
{{ template "footer" .}}


<!-- 应用插件标签 start -->

<!-- 应用插件标签 end -->
<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?8993e2f43e5a0cf45f662a7972e34ed8"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
</body>
</html>