    <div class="banner">
        <div class="banSlider slider">
            <div><a href="/xinwenzhongxin/"><img class="imgMax" src="/uploads/allimg/20190412/fafc887a42b112bf4baacc70ce253bbe.jpg" alt="新闻中心"></a></div>
        </div>
    </div>
    <div class="main det-main">
        <div class="container">
            <div class="main-lt lt">
                <div class="det-leftBox">
                    <div class="det-leftTitle">
                        <h3>新闻中心</h3>
                        <span></span> <em>+</em></div>
                    <ul class="detNav">
                        <li class="detNav-li"><a href='/gongsixinwen/'>公司新闻</a></li>
                        <li class="detNav-li"><a href='/xingyexinwen/'>行业新闻</a></li>
                    </ul>
                </div>
            </div>

            <div class="main-rt">
                <div class="pos hidden-xs"><span>行业新闻</span>
                    <ul class="rt">
                        <a href='/' class='crumb'>首页</a> &gt; <a href='/xinwenzhongxin/' class='crumb'>新闻中心</a> &gt; <a href='/xingyexinwen/'>行业新闻</a></ul>
                </div>
                <div class="det-comm det-txt">
                    <div class="newsCont">
                        <h3>{{ .resp.Title }}</h3>
                        <span> 发布时间 : {{ .resp.CreatedOn }}</span></div>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ .resp.Content }}</p>
                    <div class="share hidden-xs">
                        <div class="bshare-custom">
                            <div class="bsPromo bsPromo2"></div>
                            <a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a><a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a><a title="分享到腾讯微博"
                                                                                                                                                                                   class="bshare-qqmb"
                                                                                                                                                                                   href="javascript:void(0);"></a><a
                                    title="分享到QQ空间" class="bshare-qzone"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div>
                        <script type="text/javascript" charset="utf-8" src="/template/pc/skin/js/buttonlite.js"></script>
                        <script type="text/javascript" charset="utf-8" src="/template/pc/skin/js/bsharec0.js"></script>
                    </div>
                    <div class="page-ul">
                        <ul>
                            {{ if eq .resp.PreArticle.Title "暂无" }}
                                <li><a href='#'>上一篇: {{ .resp.PreArticle.Title }}</a></li>
                            {{ else }}
                                <li><a href='{{ .resp.PreArticle.Id }}'>上一篇: {{ .resp.PreArticle.Title }}</a></li>
                            {{ end }}
                            {{ if eq .resp.NextArticle.Title "暂无" }}
                                <li><a href='#'>下一篇: {{ .resp.NextArticle.Title }}</a></li>
                            {{ else }}
                                <li><a href='{{ .resp.NextArticle.ID }}'>下一篇: {{ .resp.NextArticle.Title }}</a></li>
                            {{ end }}
                        </ul>
                        <a href="/xingyexinwen/" class="contentBack hidden-xs">返回</a></div>
                </div>
            </div>
        </div>
    </div>