<!DOCTYPE html>
<html lang="en">
<head>
{{ template "header" .}}
</head>
<body>
<div class="header pr">
  <div class="had_top container">
    <div class="logo pr col-lg-4 col-md-4 col-sm-3 col-xs-6  animated fadeInLeft "> <a href="http://www.sxwlgyl.com/"><img class="imgMax pa" src="/template/pc/img/f7de82c8f9ecf101485ca139bbba14d8.png" alt="顺行物流供应链"></a> </div>
    <div class="menu  rt tr  visible-xs   col-xs-2  animated fadeInRight"><img src="/template/pc/skin/img/menu.png" alt=""></div>
    <div class="had_rt rt col-lg-8 col-md-8 col-sm-9 col-xs-4 animated fadeInRight">
      <!--<div class="lang">-->
      <!--<span class="rt"><a href="javascript:;">中文</a> |-->
      <!--<a href="javascript:;">EN</a></span>-->
      <!--</div>-->
      <div class="ser hidden-xs">
        <p class="hotLine"><img src="/template/pc/skin/img/tell.png" alt=""><b>全国服务热线 : </b><em>13602548980
18926447891</em></p>
                <form  method="get" class="serForm" action="/index.php?m=home&c=Search&a=lists" name="search">
          <input type="hidden" name="m" value="home" /><input type="hidden" name="c" value="Search" /><input type="hidden" name="a" value="lists" /><input type="hidden" name="lang" value="cn" />          <input type="submit" value="" class="input-ser">
          <input type="text" name="keywords" placeholder="请输入关键字" class="input-txt">
          <input type="submit" class="input-sub" value="搜索">
        </form>
         </div>
    </div>
  </div>
  <div  class="nav pr hidden-xs animated zoomIn">
    <div class="container">
      <ul class="nav_list ">
        <li class="current"><a href="http://www.sxwlgyl.com/">首页</a></li>
                <li><a href="/fuwuxiangmu/">服务项目</a>           <ul class="navChild">
                        <li><a href="/guoneiluyun/"> 国内陆运</a></li>
                        <li><a href="/wuliubanjia/">物流搬家</a></li>
                        <li><a href="/dajianyunshu/">大件运输</a></li>
                        <li><a href="/gongchengxiangmuwuliu158/">工程项目物流</a></li>
                        <li><a href="/gongyinglianguanli/">供应链管理</a></li>
                        <li><a href="/huoyunbaoxian/">货运保险</a></li>
                        <li><a href="/gongchangqiyebanqian/">工厂企业搬迁</a></li>
                        <li><a href="/hangkongyunshu/"> 航空运输</a></li>
                        <li><a href="/huotidongwuyunshu/">活体动物运输</a></li>
                        <li><a href="/shengxianlinglianwuliu/">生鲜冷链物流</a></li>
                        <li><a href="/gongchengxiangmuwuliu/">国际物流</a></li>
                      </ul>
           </li>
                <li><a href="/wuliuxianlu/">物流线路</a>  </li>
                <li><a href="/gongsiyunli/">公司运力</a>  </li>
                <li><a href="/xinwenzhongxin/">新闻中心</a>           <ul class="navChild">
                        <li><a href="/gongsixinwen/">公司新闻</a></li>
                        <li><a href="/xingyexinwen/">行业新闻</a></li>
                      </ul>
           </li>
                <li><a href="/shehuizheren/">社会责任</a>  </li>
                <li><a href="/guanyuwomen/">关于我们</a>           <ul class="navChild">
                        <li><a href="/gongsijianjie/">公司简介</a></li>
                        <li><a href="/gongsizhanshi/">公司展示</a></li>
                        <li><a href="/gongsiyoushi/">公司优势</a></li>
                        <li><a href="/qiyewenhua/">企业文化</a></li>
                        <li><a href="/gongsizhanghu/">公司账户</a></li>
                      </ul>
           </li>
                <li><a href="/lianxiwomen/">联系我们</a>           <ul class="navChild">
                        <li><a href="/lianxifangshi/">联系方式</a></li>
                      </ul>
           </li>
              </ul>
    </div>
  </div>
</div>

<div class="banner">
  <div class="banSlider slider">
    <div><a href="/xinwenzhongxin/"><img class="imgMax" src="/template/pc/img/fafc887a42b112bf4baacc70ce253bbe.jpg" alt="新闻中心"></a></div>
  </div>
</div>
<div class="main det-main">
  <div class="container"> <div class="main-lt lt">
  <div class="det-leftBox">
    <div class="det-leftTitle">
      <h3>新闻中心</h3>
      <span></span> <em>+</em> </div>
    <ul class="detNav">
            <li class="detNav-li"><a href='/gongsixinwen/'>公司新闻</a></li>
            <li class="detNav-li"><a href='/xingyexinwen/'>行业新闻</a></li>
          </ul>
  </div>
</div>

    <div class="main-rt">
      <div class="pos hidden-xs"> <span>新闻中心</span>
        <ul class="rt">
           <a href='/' class='crumb'>首页</a> &gt; <a href='/xinwenzhongxin/'>新闻中心</a>        </ul>
      </div>
      <div class="det-comm">
        <div class="list-textImg">           <div class="m-news-list">
            <dl>
              <dt><a href="/xinwenzhongxin/458.html"><img src="/template/pc/img/1-210516155424443.jpg" alt="天舟二号货运飞船发射在即 船箭组合体转运至发射区"></a></dt>
              <dd>
                <h3><a href="/xinwenzhongxin/458.html">天舟二号货运飞船发射在即 船箭组合体转运至发射区</a></h3>
                <p> 天舟二号货运飞船船箭组合体转运至发射区。骆云飞摄据中国载人航天工程办公室消息，5月16日，天舟二号货运飞船与长征七号遥三运载火箭组合体已转运至发射区。目前，文昌航天发射场设施设备状态良好，后续将按计划开展发射前的各项功能...</p>
                <span>2021-05-16</span> </dd>
            </dl>
          </div>
                    <div class="m-news-list">
            <dl>
              <dt><a href="/xingyexinwen/457.html"><img src="/template/pc/img/1-21051615452Y55.jpg" alt="物流公司想要突破，网络货运是必经之路"></a></dt>
              <dd>
                <h3><a href="/xingyexinwen/457.html">物流公司想要突破，网络货运是必经之路</a></h3>
                <p> 公司应当怎样提前准备网络货运资质证书？货运物流公司想有着网络货运的资质证书，有二种方式，一是自身申请办理，二是和网络货运平台协作最好是找技术专业申请办理在网上货运。如今一些企业能够 出示一站式服务，如平台系统软件、申请办...</p>
                <span>2021-05-16</span> </dd>
            </dl>
          </div>
                    <div class="m-news-list">
            <dl>
              <dt><a href="/xingyexinwen/456.html"><img src="/template/pc/img/1-210516154225K3.jpg" alt="日本货运航空公司谎报机体损伤状况 问题飞机曾继续运航"></a></dt>
              <dd>
                <h3><a href="/xingyexinwen/456.html">日本货运航空公司谎报机体损伤状况 问题飞机曾继续运航</a></h3>
                <p> 【环球网报道 实习记者 杨子晴】日本货物航空公司2017年及2018年接连发生两起飞机机体受损事件，然而公司方面却谎报机体受损状况，声称“轻微损伤”，没有及时进行修理，令飞机继续飞行运货。日本国土交通省5月17日重新将这...</p>
                <span>2021-05-16</span> </dd>
            </dl>
          </div>
                    <div class="m-news-list">
            <dl>
              <dt><a href="/xingyexinwen/455.html"><img src="/template/pc/img/1-210516153H6323.jpg" alt="全球物流公司排名出炉顺丰京东意外落选，榜首的规模是顺丰40倍"></a></dt>
              <dd>
                <h3><a href="/xingyexinwen/455.html">全球物流公司排名出炉顺丰京东意外落选，榜首的规模是顺丰40倍</a></h3>
                <p> 最近得到的新消息：有机构预测到2023年，全球物流收入有望达到15.5万亿美元（约合104万亿元人民币）。SJ咨询集团（SJ Consulting）发布最新五十强物流企业研究，报告显示去年全球50家最大的物流企业的总收入...</p>
                <span>2021-05-16</span> </dd>
            </dl>
          </div>
           </div>
        <div  class="page tc hidden-xs">
          <ul>
            <div class="next1">  <li><a class="disabled">首页</a></li> <li><a class="disabled">上一页</a></li> <li class="current"><a ><span>1</span></a></li><li><a   href="/xinwenzhongxin/lists_2_2.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">2</a></li><li><a   href="/xinwenzhongxin/lists_2_3.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">3</a></li><li><a   href="/xinwenzhongxin/lists_2_4.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">4</a></li><li><a   href="/xinwenzhongxin/lists_2_5.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">5</a></li> <li><a   href="/xinwenzhongxin/lists_2_2.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">下一页</a></li> <li><a   href="/xinwenzhongxin/lists_2_37.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">末页</a></li></div>
          </ul>
        </div>
        <div  class="page tc visible-xs">
          <ul>
            <div class="next1">  <li><a class="disabled">首页</a></li> <li><a class="disabled">上一页</a></li> <li><a   href="/xinwenzhongxin/lists_2_2.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">下一页</a></li> <li><a   href="/xinwenzhongxin/lists_2_37.html" data-ey_fc35fdc="html" data-tmp="1" class="tcdNumber">末页</a></li></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--手机侧边导航-->
{{ template "footer" .}}


<!-- 应用插件标签 start -->

<!-- 应用插件标签 end -->
<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?8993e2f43e5a0cf45f662a7972e34ed8"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
</body>
</html>