{{ define "footer" }}
 <link rel="stylesheet" href="/template/pc/css/kefu.css">
<div class="footer pr animated fadeInLeft wow">
    <div class="container">
        <div class="foot-lt col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <ul class="footNav">
                <li><a href="/fuwuxiangmu/">服务项目</a><i></i></li>
                <li><a href="/wuliuxianlu/">物流线路</a><i></i></li>
                <li><a href="/gongsiyunli/">公司运力</a><i></i></li>
                <li><a href="/xinwenzhongxin/">新闻中心</a><i></i></li>
                <li><a href="/shehuizheren/">社会责任</a><i></i></li>
                <li><a href="/guanyuwomen/">关于我们</a><i></i></li>
                <li><a href="/lianxiwomen/">联系我们</a></li>
            </ul>
            <p class="copy"><a href="https://beian.miit.gov.cn/" rel="nofollow" target="_blank">粤ICP备18003235号</a> Copyright © 2020 深圳市顺行物流供应链管理有限公司版权所有
                &nbsp;东莞货运、东莞物流、东莞货运专线、东莞物流包车、惠州物流货运、惠州货运、惠州物流、惠州物流包车、惠州货运专车、深圳到龙港物流直达、深圳到慈溪物流专线、深圳到重庆物流、深圳到昆明物流、深圳到香港物流、中港物流&nbsp;技术支持：<a href="https://www.gtxseo.com">营销型网站建设</a> <a
                        href="/sitemap.xml">XML</a>
            </p>
        </div>
        <div class="foot-rt col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <dl>
                <dt><img src="/template/pc/img/1-201215104J5437.jpg" alt=""></dt>
                <dd>二维码</dd>
            </dl>
        </div>
    </div>
    <div class="scroll_top"><img src="/template/pc/img/scroll-top.png" alt=""></div>
</div>
<div class="leftNav visible-xs">
    <div class="leftNavBg"></div>
    <div class="leftNavClose ">×</div>
    <div class="leftNav-box rt">
        <div class="leftNav-ser">
            <form method="get" class="serForm" action="/index.php?m=home&c=Search&a=lists" name="search">
                <input type="hidden" name="m" value="home"/><input type="hidden" name="c" value="Search"/><input type="hidden" name="a" value="lists"/><input type="hidden" name="lang" value="cn"/>
                <input type="submit" value="" class="input-ser">
                <input type="text" name="keyword" placeholder="请输入关键字" class="input-txt">
                <input type="submit" class="input-sub" value="搜索">
            </form>
        </div>
        <ul class="leftOne">
            <li class="one-li"><a href="http://www.sxwlgyl.com/"> <span class="oneLi-c">首页</span> </a></li>
            <li class="one-li"><a href="javascript:;" href="/fuwuxiangmu/"> <span class="oneLi-c">服务项目</span> <img src="/template/pc/img/icon_03.png"> </a>
                <ul class="two">
                    <li class="two-li"><a href="/guoneiluyun/"><span>  国内陆运 </span> </a></li>
                    <li class="two-li"><a href="/wuliubanjia/"><span> 物流搬家 </span> </a></li>
                    <li class="two-li"><a href="/dajianyunshu/"><span> 大件运输 </span> </a></li>
                    <li class="two-li"><a href="/gongchengxiangmuwuliu158/"><span> 工程项目物流 </span> </a></li>
                    <li class="two-li"><a href="/gongyinglianguanli/"><span> 供应链管理 </span> </a></li>
                    <li class="two-li"><a href="/huoyunbaoxian/"><span> 货运保险 </span> </a></li>
                    <li class="two-li"><a href="/gongchangqiyebanqian/"><span> 工厂企业搬迁 </span> </a></li>
                    <li class="two-li"><a href="/hangkongyunshu/"><span>  航空运输 </span> </a></li>
                    <li class="two-li"><a href="/huotidongwuyunshu/"><span> 活体动物运输 </span> </a></li>
                    <li class="two-li"><a href="/shengxianlinglianwuliu/"><span> 生鲜冷链物流 </span> </a></li>
                    <li class="two-li"><a href="/gongchengxiangmuwuliu/"><span> 国际物流 </span> </a></li>
                </ul>

            </li>
            <li class="one-li"><a href="/wuliuxianlu/"> <span class="oneLi-c">物流线路</span> </a>

            </li>
            <li class="one-li"><a href="/gongsiyunli/"> <span class="oneLi-c">公司运力</span> </a>

            </li>
            <li class="one-li"><a href="javascript:;" href="/xinwenzhongxin/"> <span class="oneLi-c">新闻中心</span> <img src="/template/pc/img/icon_03.png"> </a>
                <ul class="two">
                    <li class="two-li"><a href="/gongsixinwen/"><span> 公司新闻 </span> </a></li>
                    <li class="two-li"><a href="/xingyexinwen/"><span> 行业新闻 </span> </a></li>
                </ul>

            </li>
            <li class="one-li"><a href="/shehuizheren/"> <span class="oneLi-c">社会责任</span> </a>

            </li>
            <li class="one-li"><a href="javascript:;" href="/guanyuwomen/"> <span class="oneLi-c">关于我们</span> <img src="/template/pc/img/icon_03.png"> </a>
                <ul class="two">
                    <li class="two-li"><a href="/gongsijianjie/"><span> 公司简介 </span> </a></li>
                    <li class="two-li"><a href="/gongsizhanshi/"><span> 公司展示 </span> </a></li>
                    <li class="two-li"><a href="/gongsiyoushi/"><span> 公司优势 </span> </a></li>
                    <li class="two-li"><a href="/qiyewenhua/"><span> 企业文化 </span> </a></li>
                    <li class="two-li"><a href="/gongsizhanghu/"><span> 公司账户 </span> </a></li>
                </ul>

            </li>
            <li class="one-li"><a href="javascript:;" href="/lianxiwomen/"> <span class="oneLi-c">联系我们</span> <img src="/template/pc/img/icon_03.png"> </a>
                <ul class="two">
                    <li class="two-li"><a href="/lianxifangshi/"><span> 联系方式 </span> </a></li>
                </ul>

            </li>
        </ul>
        <div class="leftNavTel"><img src="/template/pc/img/tell.png" alt=""> <b>全国服务热线 : </b> <span>13602548980
18926447891</span></div>
    </div>
</div>
<div class="scrollsidebar" id="scrollsidebar">
    <div class="side_content">
        <div class="side_list">
            <div class="side_title"><a title="隐藏" class="close_btn"><span>关闭</span></a></div>
            <div class="side_center">
                <div class="custom_service">
                    <p><a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&uin=1376093842&site=qq&menu=yes" target="_blank"><img src="/template/pc/img/qqkefu.jpg"></a></p>
                </div>
                <div class="other">
                    <p><img src="/template/pc/img/1-201215104J5437.jpg" width="120"/></p>
                    <p>客户服务热线</p>
                    <p>0755-28720163</p>
                    <p>13602548980</p>
                    <p>18926447891</p>
                </div>
                <div class="msgserver">
                    <p><a href="/lianxiwomen/">联系我们</a></p>
                </div>
            </div>
            <div class="side_bottom"></div>
        </div>
    </div>
    <div class="show_btn"><span>在线客服</span></div>
</div>
<script type="text/javascript" src="/template/pc/js/kefu.js"></script>

{{ end }}

